body {
  text-align: center;
  margin-bottom: 50px;
  background-image: radial-gradient(#fff, #fff, #cfcfdf);
}

#main-logo {
  margin-top: 120px;
  max-height: 400px;
  min-height: 200px;
  padding: 0;
}

.tagline {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

a {
  color: unset;
}

a:hover {
  animation: link-anim 3s infinite linear alternate-reverse; 
}

@keyframes link-anim {
  0% { text-shadow: 2px 1px #f0f, 2px -3px #0ff; } 
  10% { text-shadow: -3 2px #f0f, -3px -1px #0ff; } 
  20% { text-shadow: -2px -2px #f0f, 1px 3px #0ff; } 
  30% { text-shadow: 2px -3px #f0f, -2px -1px #0ff; } 
  40% { text-shadow: -3px -2px #f0f, 2px -3px #0ff; } 
  50% { text-shadow: -3px -3px #f0f, -3px -3px #0ff; } 
  60% { text-shadow: 1px 1px #f0f, 3px -2px #0ff; } 
  70% { text-shadow: -2px -3px #f0f, 2px 3px #0ff; } 
  80% { text-shadow: 1px 3px #f0f, -1px -1px #0ff; } 
  90% { text-shadow: -1px 2px #f0f, -1px 1px #0ff; } 
  100% { text-shadow: -2px -3px #f0f, 1px 3px #0ff; } 
}

.list-inline-item {
  color: #222 !important;
  font-size: 2rem;
  padding: 8px;
}

@media (max-width: 450px) {
  #main-logo {
    margin-top: 20vh;
  }

  .tagline {
    font-size: 1.2rem; 
  }

  .list-inline-item {
    font-size: 1.5rem;
    padding: 8px 20px;
  }

  .glitch {
    font-size: 2.25rem !important;
  }
  
  .glitch:after {
    left: 1px !important;
  }

  .glitch:before {
    left: -1px !important;
  }
}

.glitch {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  padding-top: 20px;
  margin: 0 auto;
  overflow: hidden; 
}

@keyframes noise-anim { 
  0% { clip: rect(73px, 80vw, 26px, 20vw); } 
  5% { clip: rect(43px, 80vw, 26px, 20vw); } 
  10% { clip: rect(39px, 80vw, 37px, 20vw); } 
  15% { clip: rect(17px, 80vw, 50px, 20vw); } 
  20% { clip: rect(64px, 80vw, 45px, 20vw); } 
  25% { clip: rect(17px, 80vw, 52px, 20vw); } 
  30% { clip: rect(96px, 80vw, 62px, 20vw); } 
  35% { clip: rect(50px, 80vw, 94px, 20vw); } 
  40% { clip: rect(99px, 80vw, 97px, 20vw); } 
  45% { clip: rect(28px, 80vw, 77px, 20vw); } 
  50% { clip: rect(95px, 80vw, 90px, 20vw); } 
  55% { clip: rect(88px, 80vw, 81px, 20vw); } 
  60% { clip: rect(7px, 80vw, 69px, 20vw); } 
  65% { clip: rect(83px, 80vw, 37px, 20vw); } 
  70% { clip: rect(65px, 80vw, 32px, 20vw); } 
  75% { clip: rect(76px, 80vw, 88px, 20vw); } 
  80% { clip: rect(65px, 80vw, 24px, 20vw); } 
  85% { clip: rect(73px, 80vw, 35px, 20vw); } 
  90% { clip: rect(41px, 80vw, 13px, 20vw); } 
  95% { clip: rect(52px, 80vw, 21px, 20vw); } 
  100% { clip: rect(81px, 80vw, 55px, 20vw); } 
} 

.glitch:after { 
  content: attr(data-text); 
  position: absolute; 
  left: 3px; 
  text-shadow: -1px -1px #f0c; 
  top: 0; 
  background: white; 
  overflow: hidden; 
  height: 100%;
  width: 100%;
  clip: rect(0, 900px, 0, 0); 
  animation: noise-anim 4s infinite linear alternate-reverse; 
  padding-top: 20px;
  margin: 0 auto;
} 

@keyframes noise-anim-2 { 
  0% { clip: rect(37px, 80vw, 69px, 20vw); } 
  5% { clip: rect(85px, 80vw, 34px, 20vw); } 
  10% { clip: rect(96px, 80vw, 29px, 20vw); } 
  15% { clip: rect(16px, 80vw, 14px, 20vw); } 
  20% { clip: rect(60px, 80vw, 99px, 20vw); } 
  25% { clip: rect(8px, 80vw, 21px, 20vw); } 
  30% { clip: rect(19px, 80vw, 35px, 20vw); } 
  35% { clip: rect(20px, 80vw, 22px, 20vw); } 
  40% { clip: rect(1px, 80vw, 24px, 20vw); } 
  45% { clip: rect(82px, 80vw, 60px, 20vw); } 
  50% { clip: rect(77px, 80vw, 24px, 20vw); } 
  55% { clip: rect(56px, 80vw, 82px, 20vw); } 
  60% { clip: rect(39px, 80vw, 38px, 20vw); } 
  65% { clip: rect(14px, 80vw, 22px, 20vw); } 
  70% { clip: rect(52px, 80vw, 1px, 20vw); } 
  75% { clip: rect(14px, 80vw, 63px, 20vw); } 
  80% { clip: rect(32px, 80vw, 95px, 20vw); } 
  85% { clip: rect(35px, 80vw, 66px, 20vw); } 
  90% { clip: rect(99px, 80vw, 2px, 20vw); } 
  95% { clip: rect(28px, 80vw, 9px, 20vw); } 
  100% { clip: rect(24px, 80vw, 40px, 20vw); } 
} 

.glitch:before { 
  content: attr(data-text); 
  position: absolute; 
  left: -3px; 
  text-shadow: 1px 1px #0ff; 
  top: 0; 
  background: white; 
  overflow: hidden; 
  clip: rect(0, 900px, 0, 0); 
  animation: noise-anim-2 4s infinite linear alternate-reverse; 
  height: 100%;
  width: 100%;
  padding-top: 20px;
  margin: 0 auto;
}
