body {
  text-align: center;
  margin-bottom: 50px;
}

#main-logo {
  margin-top: 120px;
  max-height: 400px;
  min-height: 200px;
  padding: 0;
}

a {
  color: unset;
}

a:hover {
  color: #445577;
}

.list-inline-item {
  color: #222 !important;
  font-size: 2rem;
  padding: 8px;
}

@media (max-width: 450px) {
  #main-logo {
    margin-top: 20vh;
  }

  .list-inline-item {
    font-size: 1.5rem;
    padding: 8px 20px;
  }

  .glitch {
    font-size: 3rem !important;
  }
}

.glitch {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden; 
}

@keyframes noise-anim { 
  0% { clip: rect(73px, 9999px, 26px, 0); } 
  5% { clip: rect(43px, 9999px, 26px, 0); } 
  10% { clip: rect(39px, 9999px, 37px, 0); } 
  15% { clip: rect(17px, 9999px, 50px, 0); } 
  20% { clip: rect(64px, 9999px, 45px, 0); } 
  25% { clip: rect(17px, 9999px, 52px, 0); } 
  30% { clip: rect(96px, 9999px, 62px, 0); } 
  35% { clip: rect(50px, 9999px, 94px, 0); } 
  40% { clip: rect(99px, 9999px, 97px, 0); } 
  45% { clip: rect(28px, 9999px, 77px, 0); } 
  50% { clip: rect(95px, 9999px, 90px, 0); } 
  55% { clip: rect(88px, 9999px, 81px, 0); } 
  60% { clip: rect(7px, 9999px, 69px, 0); } 
  65% { clip: rect(83px, 9999px, 37px, 0); } 
  70% { clip: rect(65px, 9999px, 32px, 0); } 
  75% { clip: rect(76px, 9999px, 88px, 0); } 
  80% { clip: rect(65px, 9999px, 24px, 0); } 
  85% { clip: rect(73px, 9999px, 35px, 0); } 
  90% { clip: rect(41px, 9999px, 13px, 0); } 
  95% { clip: rect(52px, 9999px, 21px, 0); } 
  100% { clip: rect(81px, 9999px, 55px, 0); } 
} 

.glitch:after { 
  content: attr(data-text); 
  position: absolute; 
  left: 2px; 
  text-shadow: -1px 0 #f0c; 
  top: 0; 
  background: white; 
  overflow: hidden; 
  height: 100%;
  width: 100%;
  clip: rect(0, 900px, 0, 0); 
  animation: noise-anim 3s infinite cubic-bezier(.25, .46, .45, .94) alternate-reverse; 
  padding: 20px;
  margin: 0 auto;
} 

@keyframes noise-anim-2 { 
  0% { clip: rect(37px, 9999px, 69px, 0); } 
  5% { clip: rect(85px, 9999px, 34px, 0); } 
  10% { clip: rect(96px, 9999px, 29px, 0); } 
  15% { clip: rect(16px, 9999px, 14px, 0); } 
  20% { clip: rect(60px, 9999px, 99px, 0); } 
  25% { clip: rect(8px, 9999px, 21px, 0); } 
  30% { clip: rect(19px, 9999px, 35px, 0); } 
  35% { clip: rect(20px, 9999px, 22px, 0); } 
  40% { clip: rect(1px, 9999px, 24px, 0); } 
  45% { clip: rect(82px, 9999px, 60px, 0); } 
  50% { clip: rect(77px, 9999px, 24px, 0); } 
  55% { clip: rect(56px, 9999px, 82px, 0); } 
  60% { clip: rect(39px, 9999px, 38px, 0); } 
  65% { clip: rect(14px, 9999px, 22px, 0); } 
  70% { clip: rect(52px, 9999px, 1px, 0); } 
  75% { clip: rect(14px, 9999px, 63px, 0); } 
  80% { clip: rect(32px, 9999px, 95px, 0); } 
  85% { clip: rect(35px, 9999px, 66px, 0); } 
  90% { clip: rect(99px, 9999px, 2px, 0); } 
  95% { clip: rect(28px, 9999px, 9px, 0); } 
  100% { clip: rect(24px, 9999px, 40px, 0); } 
} 

.glitch:before { 
  content: attr(data-text); 
  position: absolute; 
  left: -2px; 
  text-shadow: 1px 0 #0ff; 
  top: 0; 
  background: white; 
  overflow: hidden; 
  clip: rect(0, 900px, 0, 0); 
  animation: noise-anim-2 3s infinite cubic-bezier(.25, .46, .45, .94) alternate-reverse; 
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
